<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Customers <span class="badge">{{customers.length}}</span></h2>
        </div>
        <div class="panel-body">
            <div class="alert alert-info">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <strong>Amount Received</strong>
                    </div>
                    <div class="col-md-6">
                        {{summary.AmountReceivedYTD | currency}}
                    </div>
                    <div class="col-md-6">
                        <strong>Amount Expected</strong>
                    </div>
                    <div class="col-md-6">
                        {{summary.AmountExpectedYTD | currency}}
                    </div>
                    <div class="col-md-6">
                        <strong>Upcoming</strong>
                    </div>
                    <div class="col-md-6">
                        {{summary.UpcomingAppointmentCount}}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <label class="input-group-addon">Search</label>
                <input class="form-control" type="text" maxlength="30" ng-model="customerFilter" />
                <span class="input-group-btn">
                    <button class="btn btn-success glyphicon glyphicon-plus" type="button" ng-click="createCustomer()" />
                </span>        
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="customer in customers | filter:customerFilter" ng-click="viewCustomer(customer)">
                        <td>{{customer.Id}}</td>
                        <td>{{customer.FirstName}} {{customer.LastName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Expenses <span class="badge">{{expenses.length}}</span></h2>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <label class="input-group-addon">Search</label>
                <input class="form-control" type="text" maxlength="30" ng-model="expenseFilter" />
                <div class="input-group-btn">
                    <button class="btn btn-success glyphicon glyphicon-plus" type="button" ng-click="createExpense()" />
                </div>        
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Amount</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="expense in expenses | filter:expenseFilter" ng-click="viewExpense(expense)">
                        <td>{{expense.Id}}</td>
                        <td>{{expense.Amount | currency}}</td>
                        <td>{{expense.Description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>