<ul class="nav nav-tabs">
    <li ng-class="{ active : getVisibility('services') }"><a href="" ng-click="switchTo('services')">Services</a></li>
    <li ng-class="{ active : getVisibility('customers') }"><a href="" ng-click="switchTo('customers')">Customers</a></li>
    <li ng-class="{ active : getVisibility('invoices') }"><a href="" ng-click="switchTo('invoices')">Invoices/Payments</a></li>    
</ul>
<div class="col-md-12" ng-hide="!getVisibility('services')">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Search Criteria</strong>
                <div class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#searchCriteria" />
            </div>
            <div id="searchCriteria" class="panel-body collapse">
                <div class="col-md-3">
                    <label>Start Date</label>
                    <input class="form-control" type="date" step="7" ng-model="serviceDetailSearchCriteria.StartDate" />
                </div>
                <div class="col-md-3">
                    <label>End Date</label>
                    <input class="form-control" type="date" step="7" ng-model="serviceDetailSearchCriteria.EndDate" />
                </div>
                <div class="col-md-3">
                    <label>Description</label>
                    <input class="form-control" type="text" ng-model="serviceDetailSearchCriteria.ServiceDescription" />
                </div>
                <div class="col-md-3">
                    <label>Details</label>
                    <input class="form-control" type="text" ng-model="serviceDetailSearchCriteria.ServiceDetailDetails" />
                </div>
            </div>
            <div class="panel-body">
                <div class="btn btn-success btn-block" ng-click="searchServiceDetails()">Search</div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-hover table-striped table-responsive">
            <thead>
                <tr>
                    <th>Service ID</th>
                    <th>Detail ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Details</th>
                    <th>Start Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="searchResult in serviceDetails" ng-click="navigateToService(searchResult.Service.Id)">
                    <td>{{searchResult.Service.Id}}</td>
                    <td>{{searchResult.ServiceDetail.Id}}</td>
                    <td>{{searchResult.Customer.FirstName}}  {{searchResult.Customer.LastName}}</td>
                    <td>{{searchResult.Service.Description}}</td>
                    <td>{{searchResult.ServiceDetail.Details}}</td>
                    <td>{{searchResult.ServiceDetail.StartTime | date:'short'}}</td>
                </tr>
                <tr ng-hide="serviceDetails.length > 0">
                    <td colspan="6">
                        <div class="text-center"><strong>No results found...</strong></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-12" ng-hide="!getVisibility('customers')">Not implemented</div>
<div class="col-md-12" ng-hide="!getVisibility('invoices')">Not implemented</div>