<html ng-app="weddingManager">
<head>
<!-- CSS -->
<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
-->
<link rel="stylesheet" href="css/external/bootstrap.min.css">
<link rel="stylesheet" href="css/external/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="appController">
    <header>
        <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">{{AppTitle}}</div>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="navigateHome()"><i class="fa fa-home"></i>Home</a></li>
                <li><a ng-click="navigateToSearch()"><i class="fa fa-home"></i>Search</a></li>
                <li><a ng-click="logOut()"><i class="fa fa-home"></i>Log Out</a></li>
            </ul>
        </div>
        </nav>
    </header>
    <div id="main">
        <div ng-view></div>     
    </div>
<!-- JS -->
<!--
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
-->
<script src="js/external/jquery-2.2.3.min.js"></script>
<script src="js/external/bootstrap.min.js"></script>
<script src="js/external/angular.min.js"></script>
<script src="js/external/angular-route.js"></script>

<script src="js/config.js"></script>
<script src="js/services/appStateService.js"></script>

<script src="js/factories/companyFactory.js"></script>
<script src="js/factories/customerFactory.js"></script>
<script src="js/factories/expenseFactory.js"></script>
<script src="js/factories/serviceFactory.js"></script>
<script src="js/factories/serviceDetailFactory.js"></script>
<script src="js/factories/invoiceFactory.js"></script>
<script src="js/factories/paymentFactory.js"></script>
<script src="js/factories/summaryFactory.js"></script>

<script src="js/services/companyService.js"></script>
<script src="js/services/customerService.js"></script>
<script src="js/services/loginService.js"></script>
<script src="js/services/expenseService.js"></script>
<script src="js/services/serviceService.js"></script>
<script src="js/services/serviceDetailService.js"></script>
<script src="js/services/invoiceService.js"></script>
<script src="js/services/paymentService.js"></script>
<script src="js/services/summaryService.js"></script>

<script src="views/app/appController.js"></script>
<script src="views/login/loginController.js"></script>
<script src="views/home/homeController.js"></script>
<script src="views/customer/customerController.js"></script>
<script src="views/expense/expenseController.js"></script>
<script src="views/service/serviceController.js"></script>
<script src="views/invoice/invoiceController.js"></script>
<script src="views/payment/paymentController.js"></script>
<script src="views/search/searchController.js"></script>

<script src="views/customer/customerSearchController.js"></script>
<script src="views/service/serviceSearchController.js"></script>
<script srv="views/search/searchController.js"></script>
</body>
</html>