<div class="form-group form-inline">
    <input class="btn btn-primary" type="button" value="Back" ng-click="return()" /> 
</div>
<div class="form-group form-inline">
    <label>Expense ID</label>
    <input class="form-control" type="text" ng-model="expense.Id" disabled />
</div>
<div class="form-group form-inline">
    <label>Description</label>
    <input class="form-control" type="text" maxlength="128" ng-model="expense.Description" ng-change="onFieldChanged()"/>
</div>
<div class="form-group form-inline">
    <label>Amount</label>
    <input class="form-control" type="number" step="0.01" ng-model="expense.Amount" ng-change="onFieldChanged()"/>
</div>
<div class="form-group form-inline">
    <label>Created Date</label>
    <div class="form-control" disabled>{{expense.CreatedDate | date:'MM/dd/yyyy'}}</div>
</div>
<div class="form-group">
    <input class="btn btn-danger" type="submit" value="Delete" ng-click="deleteExpense()" />
    <input class="btn btn-success" type="submit" value="Save" ng-click="updateExpense()" ng-disabled="isSaveDisabled" />
</div>