<div>    
    <div class="form-group form-inline">
        <input class="btn btn-primary" type="button" value="Back" ng-click="return()" /> 
    </div>
    <div class="form-group form-inline">
        <label>Service ID</label>
        <div class="form-control" disabled>{{service.Id}}</div>
    </div>
    <div class="form-group form-inline">
        <label>Description</label>
        <input class="form-control" type="text" maxlength="128" ng-model="service.Description" ng-change="onFieldChanged()"/>
    </div>
    <div class="form-group form-inline">
        <label>Location</label>
        <input class="form-control" type="text" maxlength="128" ng-model="service.Location" ng-change="onFieldChanged()"/>
    </div>
    <div class="form-group form-inline">
        <label>Start</label>
        <input class="form-control" type="date" ng-model="service.StartTime" ng-change="onFieldChanged()"/>
        <input class="form-control" type="time" ng-model="service.StartTime" ng-change="onFieldChanged()"/>
    </div>
    <div class="form-group form-inline">
        <label>End</label>
        <input class="form-control" type="date" ng-model="service.EndTime" ng-change="onFieldChanged()"/>
        <input class="form-control" type="time" ng-model="service.EndTime" ng-change="onFieldChanged()"/>
    </div>
    <div class="form-group">
        <input class="btn btn-danger" type="submit" value="Delete" ng-click="deleteService()" />
        <input class="btn btn-success" type="submit" value="Save" ng-click="updateService()" ng-disabled="isSaveDisabled" />
    </div>
</div>
<div>  
    <h1>Invoices ({{invoices.length}})</h1>
    <div class="form-group form-inline">
        <label>Search</label>
        <input class="form-control" type="text" maxlength="32" ng-model="invoiceFilter" />
        <input class="btn btn-success" type="submit" value="New" ng-click="createInvoice()" />
    </div>
    <ul>
        <li ng-repeat="invoice in invoices | filter:invoiceFilter">
            <a ng-click="viewInvoice(invoice)">({{invoice.Id}}) {{invoice.Description}}</a>
        </li>
    </ul>
</div>