<input class="btn btn-primary" type="button" value="Back" ng-click="return()" />
<h1>{{service.Description}}</h1>
<div class="col-md-4">
    <h2>Basic Info</h2>
    <div class="form-group">
        <label>Service ID</label>
        <div class="form-control" disabled>{{service.Id}}</div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input class="form-control" type="text" maxlength="128" ng-model="service.Description" ng-change="onFieldChanged()"/>
    </div>
    <div class="form-group">
        <label>Location</label>
        <input class="form-control" type="text" maxlength="128" ng-model="service.Location" ng-change="onFieldChanged()"/>
    </div>
    <div class="form-group">
        <label>Start Date/Time</label>
        <input class="form-control" type="date" ng-model="service.StartTime" ng-change="onFieldChanged()"/>
        <input class="form-control" type="time" ng-model="service.StartTime" ng-change="onFieldChanged()"/>
    </div>
    <div class="form-group">
        <label>End Date/Time</label>
        <input class="form-control" type="date" ng-model="service.EndTime" ng-change="onFieldChanged()"/>
        <input class="form-control" type="time" ng-model="service.EndTime" ng-change="onFieldChanged()"/>
    </div>
    <div class="form-group">
        <input class="btn btn-danger" type="submit" value="Delete" ng-click="deleteService()" />
        <input class="btn btn-success" type="submit" value="Save" ng-click="updateService()" ng-disabled="isSaveDisabled" />
    </div>
</div>
<div class="col-md-4">  
    <h2>Invoices ({{invoices.length}})</h2>
    <div class="form-group form-inline">
        <label>Search</label>
        <input class="form-control" type="text" maxlength="32" ng-model="invoiceFilter" />
        <span class="btn btn-success glyphicon glyphicon-plus" type="submit" ng-click="createInvoice()" />
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="invoice in invoices | filter:invoiceFilter" ng-click="viewInvoice(invoice)">
                <td>{{invoice.Id}}</td>
                <td>{{invoice.Description}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-4">
    <h2>Payments ({{payments.length}})</h2>
    <div class="form-group form-inline">
        <label>Search</label>
        <input class="form-control" type="text" maxlength="32" ng-model="paymentFilter" />
        <span class="btn btn-success glyphicon glyphicon-plus" type="submit" ng-click="createPayment()" />
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="payment in payments | filter:paymentFilter" ng-click="viewPayment(payment)">
                <td>{{payment.Id}}</td>
                <td>{{payment.Amount | currency}}</td>
                <td>{{payment.Notes}}</td>
            </tr>
        </tbody>
    </table>
</div>