<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group btn-group-sm">
                <div class="btn btn-primary glyphicon glyphicon-arrow-left" ng-click="return()" />
                <div class="btn btn-danger glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal" />
                <div class="btn btn-success glyphicon glyphicon-floppy-disk" ng-click="updateService()" ng-disabled="isSaveDisabled" />
            </div>
            <h2>{{service.Description}}</h2>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Basic Info</h4>
                    </div>        
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Service ID</label>
                            <div class="form-control" disabled>{{service.Id}}</div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input class="form-control" type="text" maxlength="128" ng-model="service.Description" ng-change="onFieldChanged()"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Service Details <span class="badge">{{serviceDetails.length}}</span></h4>
                    </div>
                    <div>
                        <div ng-repeat="serviceDetail in serviceDetails" ng-controller="serviceDetailController" ng-init="data = serviceDetail;">
                            <div>{{data.Id}}</div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Invoices <span class="badge">{{invoices.length}}</span></h4>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <label class="input-group-addon">Search</label>
                            <input class="form-control" type="text" maxlength="30" ng-model="invoiceFilter" />
                            <span class="input-group-btn">
                                <button class="btn btn-success glyphicon glyphicon-plus" type="button" ng-click="createInvoice()" />
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="invoice in invoices | filter:invoiceFilter" ng-click="viewInvoice(invoice)">
                                    <td>{{invoice.Id}}</td>
                                    <td>{{invoice.Description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Payments <span class="badge">{{payments.length}}</span></h4>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <label class="input-group-addon">Search</label>
                            <input class="form-control" type="text" maxlength="30" ng-model="paymentFilter" />
                            <span class="input-group-btn">
                                <button class="btn btn-success glyphicon glyphicon-plus" type="button" ng-click="createPayment()" />
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Amount</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="payment in payments | filter:paymentFilter" ng-click="viewPayment(payment)">
                                <td>{{payment.Id}}</td>
                                <td>{{payment.Amount | currency}}</td>
                                <td>{{payment.Notes}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Delete {{service.Description}}</h4>
      </div>
      <div class="modal-body">
          This action cannot be undone. Are you sure you want to continue?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">No</button>
        <button type="button" class="btn btn-danger" ng-click="deleteService(service)">Yes</button>
      </div>
    </div>
  </div>
</div>