<div ng-controller="loginController" ng-hide="isHidden">
    <div>Welcome! Please log in</div>
    <p>Company <select class="form-control" ng-model="companyId" ng-change="onCompanyChanged()">
            <option></option>
            <option ng-repeat="company in companies" value="{{company.Id}}">{{company.Name}}</option>
        </select>
    </p>
    <p>Username <input class="form-control" type="text" maxlength="25" ng-model="username" ng-change="onLoginCredentialsChanged()" /></p>
    <p>Password <input class="form-control" type="password" maxlength="25" ng-model="password" ng-change="onLoginCredentialsChanged()" /></p>
    <input class="btn btn-primary" type="button" value="Submit" ng-disabled="isSubmitDisabled" ng-click="submitCredentials()" />
</div>